.contact-container {
  background-color: #080612;
 
  padding-top: 1rem;
  display: flex;
  flex-direction: column; /* Default to column layout for smaller screens */
  width: 100%;
  height: auto; /* Let the content define the height */
}

/* Larger screens (desktops) */
@media (min-width: 768px) {
  .contact-container {
    flex-direction: row; /* Change to row layout for larger screens */
    height: 70vh; /* Adjust height as needed */
  }
}

.contact-text-section {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #080612;
  margin-right: 0; /* Default to 0 for smaller screens */
}

/* Larger screens (desktops) */
@media (min-width: 768px) {
  .contact-text-section {
    margin-right: 3rem; /* Add margin on larger screens */
  }
}

.contact-text-subsection h6 {
  
  color: #ccc;
  margin-bottom: 10px;
}

.contact-text-subsection h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.contact-text-subsection p {
  color: #ccc;
  margin-bottom: 30px;
}

.contact-image-section {
  flex: 1;
  position: relative;
  background: url('../../assets/Design inspiration-pana.png') no-repeat center center;
  background-size: cover;
  min-height: 300px; /* Ensure image section has a minimum height */
}

/* Adjust background image for smaller screens */
@media (max-width: 767px) {
  .contact-image-section {
    min-height: 200px; /* Smaller height for small screens */
  }
}

.contact-info {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  flex-wrap: wrap;
   /* Add margin for spacing */
}

.info-item {
  display: flex;
  align-items: center; /* Aligns icon and text in the center */
  margin-bottom: 1rem;
}

.info-item i {
  font-size: 1.5rem;
  margin-right: 10px;
  color: #fff;
  
}

.info-item p {
  font-size: 0.9rem;
  color: #fff;
  margin: 0;
}

iframe {
  margin-top: 1.5rem;
  width: 100%; /* Ensure iframe is responsive */
  height: 300px; /* Default height */
}

/* Adjust iframe for larger screens */
@media (min-width: 768px) {
  iframe {
    height: 400px; /* Larger height for larger screens */
  }
}
.contact-form h6 {
  margin-bottom: 15px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form button {
  width: 150px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-start;
}

.contact-form button:hover {
  background-color: #0056b3;
}